:root {
    --primary-color: #24184E;
    --secondary-color: #009CD4;
    --white-color: #ffffff;
    --title-color: #282938;
    --paragraph-color: #A3AED0;
    --backgroundBtn-color: #cfcfcf;
    --button-hover: #40238B;
    --danger-color: #FE5959;
    --color: #F1F5F9;

    --shadow-color: hsla(0, 0%, 9%, .05);

    --transition-3: 0.3s;
    --transition-4: 0.4s;
    --transition-5: 0.5s;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Technor", sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/profile-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
  }
  
  ::selection {
    background-color: var(--primary-color);
    color: var(--white-color);
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--title-color);
  }


/* --------------------- Start Students Task ---------------------------- */

.container {
    padding: 60px;
    padding-top: 90px;
    height: 100vh;
    width: 100%;
  }

.left{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: auto;
    margin-top: 20px;
}

.add-subject-form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #ffffff;
    padding: 35px 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.link{
    display: flex;
    align-items: center;
}

.return-home {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 400;
    width: 200px;
    cursor: pointer;
    text-decoration: none;
}

.link:hover .return-home {
    color: var(--button-hover);
}

.link i {
    padding: 0;
    width: 25px;
    font-size: 20px;
    transition: var(--transition-3);
}

.link:hover i {
    transform: translateX(-3px);
    color: var(--button-hover);
}

.note{
    color: var(--danger-color);
}

.input-select {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}

.input-select select {
    display: none;
    height: 50px;
}

.select-selected {
    background-color: var(--white-color);
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    position: relative;
}

.select-selected:after {
    position: absolute;
    content: "";
    right: 10px;
    width: 20px;
    height: 20px;
    background-image: url('../img/icon/bx-chevron-down.svg');
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
}

.select-arrow-active:after {
    transform: rotate(180deg);
}

.select-items div,
.select-selected {
    color: var(--backgroundBtn-color);
    padding: 8px 20px;
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
}

.select-selected {
    color: var(--title-color);
    border-color: var(--backgroundBtn-color);
}

.select-items {
    position: absolute;
    background-color: #F2F2F2;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    border-radius: 5px;
    margin-top: 14px;
    max-height: 150px;
    overflow-y: auto;
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    color: var(--button-hover);
}

.add-subject{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color: var(--button-hover);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: var(--transition-3);
}

.add-subject:hover{
    background-color: var(--primary-color);
}

.subjects{
    margin-top: 20px;
}

.subject-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-radius: 10px; */
}

.subject-box:not(:last-child){
    margin-bottom: 15px;
}

.subject-name,
.delete-btn{
    height: 55px;
    background-color: #F1F5F9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.subject-code p,
.subject-name p{
    font-size: 16px;
    font-weight: 500;
    color: var(--title-color);
}

.subject-name{
    width: 90%;
    padding: 0 20px;
    margin-right: 15px;
}

.delete-btn{
    width: 10%;
    justify-content: center;
    cursor: pointer;
    border: 0;
    transition: var(--transition-4);
    position: relative;
}

.search-btn i{
    font-size: 30px;
    color: var(--title-color);
    transition: var(--transition-4);
}

.delete-btn i{
    color: var(--title-color);
    transition: var(--transition-4);
    font-size: 25px;
}

.delete-btn:hover{
    background-color: var(--danger-color);
}

.delete-btn:hover i{
    color: var(--white-color);
}

.delete-btn::after {
    content: 'Delete Subject';
    width: 120px;
    height: 30px;
    border-radius: 5px;
    position: absolute;
    font-size: 14px;
    color: var(--danger-color);
    background-color: #eeeeee;
    opacity: 0;
    visibility: hidden;
    transition: .2s linear;
    right: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-btn:hover::after {
    visibility: visible;
    opacity: 1;
    right: 120%;
}

.not-allowed > .subject-name{
    width: 100%;
    margin-right: 0;
}

.rigth{
    width: 50%;
    height: 100vh;
    background-image: url(../img/add-subject.jpg);
    background-size: cover;
    background-position: center;
}


@media(max-width:992px){
    .rigth{
        display: none;
    }

    .left{
        width: 100%;
    }
}

@media(max-width:400px){
    .subject-box{
        flex-direction: column;
        border-bottom: 1px solid var(--button-hover);
        padding: 10px 0;
    }

    .subject-name{
        width: 100%;
        margin-right: 0;
        text-align: center;
    }
    
    .delete-btn{
        width: 100%;
        margin-top: 10px;
    }

    .delete-btn::after{
        display: none;
    }
}