:root {
    --primary-color: #24184E;
    --secondary-color: #009CD4;
    --white-color: #fafafa;
    --title-color: #282938;
    --paragraph-color: #A3AED0;
    --backgroundBtn-color: #D8D8D8;
    --button-hover: #6E5BF9;
    --danger-color: #FE5959;
    --color: #F1F5F9;

    --shadow-color: hsla(0, 0%, 9%, .05);

    --transition-3: 0.3s;
    --transition-4: 0.4s;
    --transition-5: 0.5s;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Technor', sans-serif;
}

::selection {
    background-color: var(--primary-color);
    color: var(--white-color);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--title-color);
}

html {
    overflow-x: hidden;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-image: url(../img/Dash-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

/* -------------------------------------- Start Section ------------------------------------------------ */
.home-section {
    position: relative;
    left: 70px;
    display: flex;
    width: calc(100% - 70px);
    min-height: 100vh;
    transition: all 0.5s ease;
}

.home-section .container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 80px;
    /* margin: 0 100px; */
}

.home-section .container .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}
    

.boxes {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    margin-top: 20px; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.boxes .box:nth-child(1) { grid-area: 1 / 1 / 4 / 5; }
.boxes .box:nth-child(2) { grid-area: 1 / 5 / 4 / 8; }
.boxes .box:nth-child(3) { grid-area: 4 / 1 / 8 / 6; }
.boxes .box:nth-child(4) { grid-area: 4 / 6 / 8 / 8; }

.box {
    background-color: white;
    border-radius: 10px;
    height: 100%;
}

.box .body {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .header{
    padding: 20px 20px 10px;
    border-bottom: 1px solid var(--backgroundBtn-color);
}

.text{
    font-size: 18px;
    font-weight: 400;
    color: var(--primary-color);
}

/* Start Charts */
#students-count,
#students-section-count{
    width: 60% !important;
    height: auto !important;
}

#students-ratio,
#students-section-ratio{
    width: 80% !important;
    height: auto !important;
} 


.progress-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(#7d2ae8 2deg, #ededed 0deg);
    position: relative;
}

.progress-circle::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    border-radius: 50%;
    background-color: var(--white-color);
}

.progress-number {
position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 700;
    color: #7d2ae8;
}


/* End Charts */

@media(max-width:935px) {
    .home-section .container {
        margin-left: 20px;
    }
}

@media(max-width:767px) {
    .text{
        font-size: 16px;
    }

}
@media(max-width:460px) {
    .boxes {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}



/* -------------------------------------- End Section ------------------------------------------------ */