* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Technor', sans-serif;
}

::selection {
    background-color: #282938;
    color: #ffffff;
}

body {
    background: #ffffff;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
    padding: 0 15px;
}

.container p{
    margin-bottom: 15px;
    color: #282938;
    font-weight: 300;
    font-size: 24px;
}

.container a{
    text-decoration: none;
    color: #5E3BEE;
    font-weight: 400;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}

.container a i{
    position: absolute;
    top: calc(50% + 2px);
    transform: translateY(-50%);
    margin-left: 3px;
    color: #282938;
    font-size: 28px;
    transition: 0.3s;
}

.container a:hover i{
    margin-left: 7px;
}

/* ---------------------------- Media ----------------------- */

@media (max-width:767px) {
    .container p{
        font-size: 20px;
    }
    .container a{
        font-size: 16px;
    }
    .container a i{
        font-size: 24px;
    }
}