<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="website icon" href="{{url_for('static', filename='img/Logo.png')}}">
    <!-------------------------------------- Font Family -------------------------------------->
    <link href="https://api.fontshare.com/v2/css?f[]=technor@300,600,200,400,700,500,900&display=swap" rel="stylesheet">
    <!-------------------------------------- Box Icon -------------------------------------->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-------------------------------------- Style Css -------------------------------------->
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin-dashboard-user-instructor.css')}}">
    <title>Tracer</title>
</head>

<body>
    <!-------------------------------------- Start SideBar -------------------------------------->
    {% extends "dashboard-layout.html" %}
    <!-------------------------------------- End SideBar -------------------------------------->

    <!-------------------------------------- Start Section -------------------------------------->
    {% block content  %} 
    <section class="home-section">
        <label class="hamburger">
            <input type="checkbox" class="menu" id="hamburger-checkbox">
            <svg viewBox="0 0 32 32">
                <path class="line line-top-bottom"
                    d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22">
                </path>
                <path class="line" d="M7 16 27 16"></path>
            </svg>
        </label>
        <div class="container">
            <div class="content">
                <div class="top">
                    <div class="search">
                        <input id="searchQueryInput" type="text" name="searchQueryInput" placeholder="Search" value="" />
                        <button id="searchQuerySubmit" type="submit" name="searchQuerySubmit"><i class="bx bx-search"></i></button>
                    </div>
                    <div class="buttons">
                        <a id="add" href="{{url_for('add_choose_instructors')}}" name="add">Add Instructor</a>
                        <a id="delete" href="#" name="delete" onclick="showConfirmation()">Delete All</a>
                    </div>
                </div>
                <div class="bottom">
                    <div class="filters">
                        <div class="filter">
                            <label for="department">Department</label>
                            <select id="department" onchange="filterBoxes()">
                                <option value="all">All</option>

                                {% if instructor_departments %}
                                    {% for departments in instructor_departments %}
                                        <option value="{{departments}}">{{departments | capitalize}}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        
                    </div>
                    
                    <div class="search-result"></div>
                    <div class="boxes" id="boxes">
                        {% if instructors %}
                            {% for instructor in instructors %}
                                <div class="box">
                                    <a class="link">
                                        <div class="user-image-container">
                                            {% if instructor.image_profile %}
                                            <img class="user-image" src="{{ url_for('static', filename='img/instructor-image-profile/' + instructor.image_profile) }}" alt="User Profile Image">
                                            {% else %}
                                            <img class="user-image" src="{{url_for('static', filename='img/default-user.jpg')}}">
                                            {% endif %}
                                        </div>
                                        <div class="info">
                                            <h4>{{instructor.full_name}}</h4>
                                            <h4>Uni.code: <span>{{instructor.university_code}}</span></h4>
                                            <h4>National ID: <span>{{instructor.national_id}}</span></h4>
                                            <h4>Department: <span>{{instructor.department}}</span></h4>
                                        </div>
                                    </a>
                                    <div class="button">
                                        <a id="update" href="{{url_for('admin_update_instructor', university_code=instructor.university_code)}}">Update</a>
                                        <a id="delete-user" href="{{url_for('admin_delete_instructor',university_code=instructor.university_code)}}">Delete</a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h4 class="no-data">There are no instructors</h4>
                        {% endif %}
                    </div>
                    <div class="confirmation" id="confirmation">
                        <div class="container-all-delete">
                            <p>Are you sure to delete all user? This action cannot be undone.</p>
                            <div class="btn-confirm-delete">
                                <a id="delete-all-user" href="{{url_for('admin_delete_all_instructors')}}"><span class="delete-all">Delete All</span></a>
                                <button id="cancel" type="submit" name="add" onclick="hideConfirmation()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-------------------------------------- End Section -------------------------------------->
    <script src="{{url_for('static', filename='js/admin-dashboard-user-instructor.js')}}"></script>
    <script>
        let title = document.querySelector('title')
        setInterval(() => {
            if (title.innerHTML !== 'Tracer') {
                title.innerHTML = 'Tracer'
            }else{
                title.innerHTML = 'All instructors'
            }
        }, 3000);
    </script>
</body>

</html>
{% endblock %}