<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="website icon" href="{{url_for('static', filename='img/Logo.png')}}">
    <!-------------------------------------- Font Family -------------------------------------->
    <link href="https://api.fontshare.com/v2/css?f[]=technor@300,600,200,400,700,500,900&display=swap" rel="stylesheet">
    <!-------------------------------------- Box Icon -------------------------------------->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-------------------------------------- Style Css -------------------------------------->
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin-dashboard-attendance.css')}}">
    <title>Tracer</title>
</head>

<body>
    <!-------------------------------------- Start SideBar -------------------------------------->
    {% extends "dashboard-layout.html" %}
    <!-------------------------------------- End SideBar -------------------------------------->

    <!-------------------------------------- Start Section -------------------------------------->
    {% block content  %} 
    <section class="home-section">
        <label class="hamburger">
            <input type="checkbox" class="menu" id="hamburger-checkbox">
            <svg viewBox="0 0 32 32">
                <path class="line line-top-bottom"
                    d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22">
                </path>
                <path class="line" d="M7 16 27 16"></path>
            </svg>
        </label>
        <div class="container">
            <div class="content">
                <div class="top">
                    <h2>{{ session.subject.subject_name }}</h2>
                    <h3>{{ session.session_type }}</h3>
                    <h4>{{ session.session_num }}</h4>
                </div>
                <div class="bottom">
                    <div class="search-result"></div>
                    <div class="boxes">
                        {% if students %}
                        {% for student in students %}
                        <div class="box">
                            <a>
                                <div class="user-image-container">
                                    {% if student.image_profile %}
                                        <img class="user-image" src="{{ url_for('static', filename='img/student-image-profile/' + student.image_profile) }}" alt="User Profile Image">
                                    {% else %}
                                        <img class="user-image" src="{{url_for('static', filename='img/default-user.jpg')}}">
                                    {% endif %}
                                </div>
                                <div>
                                    <p class="fullname">{{ student.full_name }}</p>
                                    <p class="uncode detail">Uni.code: <span>{{ student.university_code }}</span></p>
                                    <p class="ac-year detail">Ac.year: <span>{{ student.academic_year }}</span></p>
                                    <p class="section-number detail">Section: <span>{{ student.section_number }}</span></p>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                        {% else %}
                            <p>There are no students whose attendance has been taken</p>
                        {% endif %}
                    </div>
                </div>
                <div class="confirmation" id="confirmation">
                    <div class="container">
                        <p>Are you sure to delete all user? This action cannot be undone.</p>
                        <div class="btn-confirm-delete">
                            <button id="delete-all-user" type="submit" name="delete" onclick="deleteAllUsers()">Delete All</button>
                            <button id="cancel" type="submit" name="add" onclick="hideConfirmation()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-------------------------------------- End Section -------------------------------------->
    <script src="{{url_for('static', filename='js/admin-dashboard-user-instructor.js')}}"></script>
    <script>
        // ------------------------------------ Title Change -------------------------------------- //
        let title = document.querySelector('title')
        setInterval(() => {
            if (title.innerHTML !== 'Tracer') {
                title.innerHTML = 'Tracer'
            }else{
                title.innerHTML = 'Attendance | Instructors'
            }
        }, 3000);
    </script>
</body>

</html>
{% endblock %}