<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="tracer, attendance, absence, zagazig ">
    <link rel="website icon" href="{{url_for('static', filename='img/Logo.png')}}">
    <!-------------------------------------- Font Family -------------------------------------->
    <link href="https://api.fontshare.com/v2/css?f[]=technor@300,600,200,400,700,500,900&display=swap" rel="stylesheet">
    <!-------------------------------------- Box Icon -------------------------------------->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-------------------------------------- Style Css -------------------------------------->
    <link rel="stylesheet" href="{{url_for('static', filename='css/quiz-not-available.css')}}">
    <title>Tracer</title>
</head>
<body>

    <div class="container">
        {% if not quiz_file.is_available %}
            <p>This Quiz Is Closed By Instructor</p>
        {% elif student_response is not none %}
            <p>Your response has been recorded.</p>
        {% endif %}
        <a href="{{url_for('student_profile')}}">Go to profile <i class='bx bx-chevron-right'></i></a>
    </div>

<!-- ------------------------------------ instructor Profile Js ------------------------------------ -->
</body>
</html>