<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracer</title>
    <link rel="website icon" href="img/Logo.png">
    <!-------------------------------------- BoxIcon -------------------------------------->
    <link href="https://api.fontshare.com/v2/css?f[]=technor@300,600,200,400,700,500,900&display=swap" rel="stylesheet">
    <!-------------------------------------- Font Family -------------------------------------->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-------------------------------------- Style Css -------------------------------------->
    <link rel="stylesheet" href="css/task-done.css">
</head>

<body>
    <div class="container">
        <p>"Your response has been registered successfully."</p>
        <a href="students-profile.html">Go to profile <i class='bx bx-chevron-right'></i></a>
    </div>
</body>

</html>