<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="website icon" href="{{url_for('static', filename='img/Logo.png')}}">
    <!-------------------------------------- Font Family -------------------------------------->
    <link href="https://api.fontshare.com/v2/css?f[]=technor@300,600,200,400,700,500,900&display=swap" rel="stylesheet">
    <!-------------------------------------- Box Icon -------------------------------------->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-------------------------------------- Style Css -------------------------------------->
    <link rel="stylesheet" href="{{url_for('static', filename=('css/quiz-instructor.css'))}}">
    <title>Update Quiz</title>
</head>
<body>
    <div class="quiz-container">
        <form method="POST" id="add-question-form">
            <div class="title-container">
                <div class="title-timer">
                    <h2 class="title">Update Quiz</h2>
                    <a href="{{url_for('quiz_grade',id=quiz.id)}}" class="responses">Responses</a>
                    <button class="timer" type="button"><i class='bx bx-timer'></i> Quiz Timer</button>
                </div>
                <input type="text" class="quiz-name" id="quiz-name" value="{{quiz.quiz_name}}" name="quizName" placeholder="Quiz Name" required>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {% if 'success' in message %}
                        <p style="color: green;">{{ message }}</p>
                    {% else %}
                        <p style="color: #FE5959;">{{ message }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="flash"></div>
            {% for question in quiz.questions %}
                <div class="questions-container {{loop.index}}" id="questions-container">
                    <div class="question {{loop.index}}">
                        <div class="new-question-container">
                            <input type="text" class="new-question" id="new-question" value="{{question.question_text}}" name="newQuestion" placeholder="Question" required>
                            <input type="text" class="point" id="point" value="{{question.point}}" name="Point_{{loop.index}}" placeholder="Point" required>
                        </div>
                            
                        <div class="content-option {{loop.index}}">
                            <div class="options-container" id="options-container">
                                {% set parent_index = loop.index %}
                                {% for answer in question.answers %}
                                    <div class="option-wrapper" id="option-wrapper">
                                        <input type="text" class="new-option" data-number="{{loop.index}}" id="new-option" value="{{answer.answer_text}}" name="newOption_{{parent_index}}" placeholder="Option" required>
                                    </div>
                                {% endfor %}
                            </div>
                            <button type="button" id="add-option"><i class='bx bx-plus' ></i></button>
                        </div>
                        <label>Correct Answer:</label>
                        <div class="correct-answer-container">
                            <select id="correct-answer" name="correctAnswer_{{loop.index}}" required>
                                {% for answer in question.answers %}
                                    <option class="correct-answer-option" data-number="{{loop.index}}" value="{{answer.answer_text}}" {% if answer.is_correct %} selected {% endif %}>{{answer.answer_text}}</option>
                                {% endfor %}
                            </select>
                            <div class="icon">
                                <i class='bx bx-chevron-down'></i>
                            </div>
                        </div>
                        <button class="delete-question" type="button"><i class="bx bx-trash"></i></button>
                    </div>
                    
                </div>
            {% endfor %}
            <div class="btn">
                <button type="button" id="add-question">Add Question</button>
                <button type="submit">Update Form</button>
            </div>

            <div class="timer-options hidden">
                <div class="box-control">
                    <div class="btns">
                        <button class="close" type="button"><i class='bx bx-x'></i></button>
                        <button class="up-down" type="button"><i class='bx bx-chevron-down'></i></button>
                    </div>
                    <p class="text"><i class='bx bx-timer'></i> QUIZ TIMER</p>
                </div>
                <div class="time-settings">
                    <h5 class="option-label">Timer Settings</h5>
                    <p class="option-title">Time Allowed</p>
                    {% if quiz.duration %}
                        {% set minutes = quiz.duration % 60 %}
                        {% set hours = (quiz.duration - minutes ) / 60 %}
                    {% endif %}
                    <div class="time" style="margin-bottom: 10px;">
                        <input type="number" id="hours" name="hours" value="{% if hours %}{{hours | int}}{% else %}{% endif %}" placeholder="hours" min="0" max="12">
                        <span style="margin: 0 5px;">:</span>
                        <input type="number" id="minutes" name="minutes" value="{% if minutes %}{{minutes | int}}{% else %}{% endif %}" placeholder="minutes" step="1" min="0" max="60">
                    </div>
                    <div class="start-end-date" style="margin-bottom: 10px;">
                        <h5 class="option-label">Start/End dates</h5>
                        <div class="start-dates" style="margin-bottom: 10px;">
                            <p class="option-title">Quiz opens at</p>
                            <input type="datetime-local" id="start-date" value="{{quiz.start_date}}" name="start_date">
                        </div>
                        <div class="end-dates">
                            <p class="option-title">Quiz closed at</p>
                            <input type="datetime-local" id="end-date" {% if quiz.end_date %} value="{{quiz.end_date}}" {% endif %} name="end_date">
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>


    <script src="{{url_for('static', filename=('js/update-quiz-instructor.js'))}}"></script>
</body>
</html>
